{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <style>
      .color-code {
        background-color: rgb(164, 108, 207);
      }
      #codes-found, #merchants-found {
        width: 200px;
        max-height: 200px;
        overflow: auto;
        padding: 10px;
      }
      #codes-found, #merchants-found div {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
      }
      #codes-found, #merchants-found div:hover {
        background-color: rgba(166, 175, 215, 0.933);
      }
    </style>
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet" />
  </head>
  <body class="body bg-stone-300 dark:bg-gray-800" hx-boost="true">
    {% include "menu.html" %}
    <div class="content mx-auto px-8 space-y-2">
      {% block content %}
      {% endblock content %}
    </div>
    <script src="{% static 'src/htmx.min.js' %}" defer></script>
    <script src="{% static 'src/script.js' %}" defer></script>
  </body>
</html>
